body {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
span:hover {
    cursor: default;
}
h1, h2, p:hover {
    cursor: default;
}
h1, h1, p, button {
    caret-color: transparent;
}
:root {
    /* PRIMARY COLOR*/
    --primary-color : hsl(217, 71%, 53%);
    /* DANGER COLOR */
    --danger-color : hsl(348, 100%, 61%);
}
/* NAVBAR CONTAINER */
.navContainer {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: whitesmoke;
    margin-left: 0;
    margin-right: 0;
}
.linkContainer {
    display: flex;
    justify-content: space-evenly;
}

.linkContainer a {
    text-align: center;
    margin: auto;
    margin-right: 10px;
    text-decoration: none;
    list-style: none;
    color: black;
}
.linkContainer a > span {
    font-size: 24px;
}

.linkAnchors {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

.linkAnchors a {
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    list-style: none;
    color: black;
}
.search {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 50%;
}
.searchForm {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 50%;
    outline: none;
}
.searchForm input {
    border-radius: 10px;
    width: 100%;
    padding: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    background: whitesmoke;
    outline: none;
}
.search input:hover {
    background-color: rgb(228, 228, 228);
}
.search button {
    border-radius: 10px;
    padding: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    background: whitesmoke;
}
.search button:hover {
    background-color: var(--primary-color);
    color: white;
}
/* CONTENT CONTAINER */
.contentContainer {
    margin: 10px;
    padding: 5px;
}
.contentContainer h1 {
    margin-left: 10%;
}
.dataContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    margin: auto;
}
.dataDiv {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border-style: solid;  
    box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.75);
}
.dataDiv:hover {
    background-color: aquamarine;
}
.dataDiv div>h2:hover {
    cursor: default;
}
.contentDiv {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 5px;
}
.buttonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}
.editButton {
    border-radius: 5px;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px;
}
.editButton:hover {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}
.deleteButton {
    border-radius: 5px;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 10px;
    cursor: pointer;
}
.deleteButton:hover {
    background-color: var(--danger-color);
    color: white;
}
.spanDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    font-size: 12px;
}
.spanDiv span {
    margin: 2px;
}
.createForm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    width: 100%;
}

.contentFormDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 0;
}
.contentFormDiv label {
    width: auto;
    margin-right: 10px;
}
.formContent {
    width: 80%;
    max-width: 100%;
    margin-right: 5px;
    padding: 5px;
    border-radius: 10px;
    height: 20px;
}

.formButton {
    padding: 5px;
    border-radius: 5px;
}
.formButton:hover {
    background-color: var(--primary-color);
    color: white;
}