{% block navbar %}
    <div class="navContainer">
        <div class="linkContainer">
            <a href="/"><span>CRUD APP</span></a>
            <ul class="linkAnchors">
                <a href="/"><li>Home</li></a>
                <a href="/crud"><li>Content</li></a>
                <a href="/crud/create"><li>Create</li></a>
            </ul>
        </div>
        <div class="search">
            <input type="text"/>
            <button>Search</button>
        </div>
    </div>

{% endblock navbar %}