{% block navbar %}
    <div class="navContainer">
        <div class="linkContainer">
            <a href="/crud"><span>CRUD APP</span></a>
            <ul class="linkAnchors">
                <a href="/crud"><li>Home</li></a>
                <a href="/crud"><li>Content</li></a>
                <a href="/crud/create"><li>Create</li></a>
            </ul>
        </div>
        <div class="search">
            <form action="{{ url_for('search') }}" method="GET" class="searchForm">
                <input id="searchText" name="word" type="text" placeholder="Search Content..."/>
                <button type="submit">Search</button>
            </form>
        </div>
    </div>

{% endblock navbar %}